services:
    api:
        container_name: stlmetromap-api
        image: stlmetromap-api
        build:
            context: .
            dockerfile: Dockerfile
        env_file:
            - .env
        restart: unless-stopped
        volumes: 
            - ./data/persist.json:/app/data/persist.json
            - ./data/cycle_osm.geojson:/app/data/cycle_osm.geojson
    
    proxy:
        container_name: stlmetromap-proxy
        image: stlmetromap-proxy
        build: 
            context: .
            dockerfile: ./nginx/Dockerfile
        ports: 
            - "3333:80"
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
            - ./www/index.html:/var/www/index.html:ro
            - ./www/css:/var/www/css:ro
