:root {
    --popup-bg: rgba(171, 179, 185, 0.85);
    --popup-bdr: 2px solid black;
    --popup-bdrrad: .5rem;
}
html, body {
    background-color: rgba(141, 202, 255, 0.3);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#map {
    margin: 0 auto;
    width: 94%e;
    border: 8px solid black;
    border-radius: 1rem;
    height: 100%;
    max-height: 99vh;
}
