:root {
    --popup-bg: rgba(192, 201, 209, 0.85);
    --popup-bdr: 2px solid black;
    --popup-bdrrad: .5rem;
    --map-margin: 1rem;
}
html, body {
    background-color: rgba(141, 202, 255, 0.3);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;

}

body > * {
    min-width: 0;
    max-width: 98%; /* allows to resize smaller */
    min-height: 0;
}

#map {
    margin: 0 auto;
    min-height: 0;
    height: 100%;
    overflow: hidden;
    margin-left: var(--map-margin);
    margin-right: var(--map-margin);
    border: 8px solid black;
    border-radius: 2rem;
}
#map > * {
    height: 100%;
    width: 100%;
    border-radius: 1.5rem;
}

map-window {
    height: 100%;
    display: block;
}